  /*Cuerpo del documento con margin y paddign en 0*/
  /*background: #18BC9C;*/
body{
  margin:0;
  padding:0;
}
/*Encabezado*/
header{
background-color: #2C3E50;
color: white;
position: fixed;
width: 100%;
z-index: 100;
}
/*Definir tamaño del nav*/
nav{
  width: 100%;
}
/*Separación entre elementos del menú*/
a{
  text-decoration: none;
  color: white;
  padding: 17px;
}
/*Cambio de color de letras al pasar el puntero por el menú*/
a.menu-item1:hover, a.menu-item2:hover, a.menu-item3:hover{
    color: #18BC9C;
}

/*Sombreado de color al fondo de las letras del menú al dar clic*/
a.menu-item1:focus, a.menu-item2:focus, a.menu-item3:focus{
  color: white;
  background-color: #18BC9C;
  border-radius: 3px;
}

/*Configuración general del div que contiene: logo y menú*/
header > nav > div{
  font-family: "montserrat";
  font-weight: bold;
  line-height: 106px;
  position: absolute;
  width: auto;
}
/*+++++++++++++++++++++++++++++++++++++++++SECCIÓN 1+++++++++++++++++++++++++++++++++++++++++++++++*/
/*START BOOTSTRAP*/
#section1{
    background-color: #18BC9C;
    color: white;
    font-family: "montserrat";
    height: 770px;
    width: 99.99%;
}
/*Sección de fondo verde, letras START BOOTSTRAP*/
#section1 > h1{
  color: white;
  font-size: 76px;
  height: 100px;
  letter-spacing: -0.009px;
  margin:29px;
  margin-left: 1.6px;
  width: 99.9%;
  text-align: center;
}
/*Primer línea de la sección START BOOTSTRAP*/
#section1 > hr{
  display: inline-block;
  position: absolute;
  width: 95px;
  margin-left: 555px;
  top: 602px;
}
/*Segunda línea de la sección START BOOTSTRAP*/
#section1 .line {
  display: inline-block;
  position: absolute;
  width: 96px;
  margin-left: 697px;
  top: 602px;
}
/*Estrella de la primer sección START BOOTSTRAP*/
#section1 > i{
  display: inline-block;
  position: relative;
  margin-left: 660px;
  top:-23px;
}
/*Línea Web Developer de la sección START BOOTSTRAP*/
#section1 > h2 {
  color: white;
  font-size: 28px;
  margin-left: 313px;
  font-family: "Lato";
  font-weight: 400;
  margin-top: 1.5px;
}
/*+++++++++++++++++++++++++++++++++++++++++SECCIÓN 2+++++++++++++++++++++++++++++++++++++++++++++++*/
/*PORTFOLIO*/
#section2{
  position: absolute;
  background-color: white;
  font-family: "montserrat";
  height: 547px;
  width: 99.99%;
  margin-top: 0px;
}
/*Posición y centrado de las imágenes del PORTFOLIO*/
#section2 > div{
  color: #2C3E50;
  font-size:33px;
  text-align: center;
  margin-top: 90px;
}
/*Primer línea PORTFOLIO*/
#section2 hr{
  display: inline-block;
  position: absolute;
  width: 95px;
  margin-left: -123px;
  top: 168px;
}
/*Segunda línea PORTFOLIO*/
#section2 .line{
  display: inline-block;
  position: absolute;
  width: 101px;
  margin-left: 20px;
}
/*Estrella PORTFOLIO*/
#section2 i{
  display: inline-block;
  position: absolute;
  margin-left: -17px;
  top:170px;
}
/*Espacio entre imágenes sección PORTFOLIO*/
#section2 > img{
  margin-top: -44px;
  padding-left: 21px;
  padding-bottom: 21px;
  width: 350px;
  height: 255px;
}
/*Menú opciones*/
.menu{
  font-size: 16px;
  left: 63.1%;
  letter-spacing: 1px;
}

/*Posición logo (letras START BOOTSTRAP)*/
.logo{
  font-size: 32px;
  left: 103px;
}
/*Alto de el contenido en header*/
.height{
  height: 106px;
}
/*Imagen sección START BOOTSTRAP*/
.profile{
  display: inline-block;
  margin-left: 547px;
  margin-top: 202px;
}
/*+++++++++++++++++++++++++++++++++++++++++SECCIÓN 3+++++++++++++++++++++++++++++++++++++++++++++++*/
/*ABOUT*/
#section3 {
  background-color: #18BC9C;
  color: white;
  font-family: "Montserrat";
  height:600px;
  position: absolute;
  top: 828px;
  width: 99.99%;
  text-align: center;
}
/*Configuración palabra ABOUT*/
#section3 h1{
  margin-top: 86px;
  font-size: 47.5px;
}
/*Posición y tamaño de la primer línea del ABOUT*/
#section3 hr{
  display: inline-block;
  position: absolute;
  width: 95px;
  margin-left: -123px;
  top: 165px;
}
/*Posición y tamaño de la segunda línea del ABOUT*/
#section3 .line{
  display: inline-block;
  position: absolute;
  width: 101px;
  margin-left: 20px;
}
/*Posición estrella del ABOUT*/
#section3 i{
  position: absolute;
  margin-left: -17px;
  top:158px;
}
/*Configuración del borde del botón de Download Now!*/
#button{
  display: inline-block;
  padding-left: 35px;
  margin-left: -35px;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 20px;
}
/*Configuración y posición del botón Download Now!*/
#button > a{
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 19px;
  top: 460px;
  width: auto;
  height: auto;
  left: 550px;
  right: 20px;
  line-height: 30px;
}
/*Medidas y posición de icono de descarga*/
#button > a > i{
    display: inline-block;
    top: 458px;
    left: 580px;
}
/*Fondo blanco boton Download Now! al pasar el mouse*/
#button:hover{
  background-color: white;
}
/*Letras negras botón Download Now! al pasar el mouse*/
#button > a:hover{
  color: black;
}
/*Alineación de columnas del ABOUT*/
.paragraph1, .paragraph2{
  display: inline-block;
  font-family: "Lato";
  font-size: 19px;
  margin-top: auto;
  line-height: 32px;
  padding: 15px;
  text-align: left;
  width: 345px;
  height: 173px;
  vertical-align: middle;
}
/*+++++++++++++++++++++++++++++++++++++++++SECCIÓN 4+++++++++++++++++++++++++++++++++++++++++++++++*/
/*CONTACT ME*/
#section4{
  height:950px;
  position: absolute;
  width: 99.99%;
  text-align: center;
  top:600px;
}
#section4 > div{
  color: #2C3E50;
}
/*Letras CONTACT ME*/
#section4 h1{
  font-family: "Montserrat";
  color: #2C3E50;
  font-size:48px;
  text-align: center;
  margin-top: 91px;
}
/*Primera línea CONTACT ME*/
#section4 hr{
  color: #2C3E50;
  display: inline-block;
  letter-spacing: 1px;
  position: absolut e;
  width: 93px;
  margin-left: -118px;
  top: 173px;
}
/*Segunda línea CONTACT ME*/
#section4 .line{
  display: inline-block;
  position: absolute;
  width: 101px;
  margin-left: 20px;
}
/*Estrella CONTACT ME*/
#section4 i{
  display: inline-block;
  position: absolute;
  margin-left: -15px;
  top:165px;
}
/*Posición del Formulario*/
.form{
  margin-top: 81px;
  margin-left: -475px;
}
/*Color de letras placeholder*/
::placeholder{
    color: #868e96;
    font-family: "Lato";
}
/*Linea1 formulario*/
#section4 .hr1{
  background-color: #e9ecef;
  top:321px;
  left: 427px;
  border:0;
  width: 730px;
}
/*Linea2 formulario*/
#section4 .hr2{
  background-color: #e9ecef;
  top:418px;
  left: 427px;
  border:0;
  width: 730px;
}
/*Linea3 formulario*/
#section4 .hr3{
  background-color: #e9ecef;
  top:518px;
  left: 427px;
  border:0;
  width: 730px;
}
/*Linea4 formulario*/
#section4 .hr4{
  background-color: #e9ecef;
  top:755px;
  left: 427px;
  border:0;
  width: 730px;
}
/*Ingreso de datos al formulario*/
input[type = "text"]{
  color: black;
  border: 0;
  outline: 0;
  font-size: 23.5px;
  font-family: "Lato";
  text-align: left;
  padding: 35.1px;
}
#section4 a{
  position: absolute;
  width: 70px;
  height: 30px;
  background-color: #18BC9C;
  line-height: 30px;
  border-radius: 5px;
  margin-left: -364px;
  margin-top: 165px;
  font-weight: 500;
  font-size: 20px;
  font-family: "Lato";
}

#section4 a:hover{
  background-color: #128F76;
}
